<dialog class="citation-modal" id="citation-modal">
	<button type="button" class="close-modal" id="close-modal">🞬</button>
	
	<p>Cite the Empirical Standards</p>

	<select class="citation-formats">
		<option value="acm">ACM</option>
		<option value="apa">APA</option>
		<option value="bibtex">BibTeX</option>
		<option value="ieee">IEEE</option>
		<option value="ris">RIS</option>
	</select>

	<textarea class="citation-text">
	</textarea>

	<button type="button" class="copy-citation">Copy citation</button>
</dialog>
